body {
  margin: 0;
  padding: 8px;
}
.selector {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px;
  z-index: 101;
  background-color: white;
  height: 50px;
  border-bottom: 1px solid #ccc;
}

.selector .logo {
  max-height: 40px;
  margin-left: 10px;
}
.spacer {
  height: 50px;
}
.title {
  padding-bottom: 5px;
  color: #ccc;
}
.title .text {
  margin-right: 8px;
}
.title--selected {
  color: #000;
}
.selected {
  position: relative;
}
.tile {
  position: relative;
  height: 224px;
  width: 30%;
  min-width: 224px;
  cursor: pointer;
  background-color: #f5f5f5;
  border-radius: 2px;
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.2);
  transition: all 0.15s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  display: inline-block;
  overflow: hidden;
  margin-right: 10px;
  margin-bottom: 10px;
}
.tile .actions {
  position: absolute;
  top: 0;
  z-index: 100;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  width: 100%;
  cursor: default;
  background-color: hsla(0, 0%, 96.1%, 0.85);
}
.tile .preview {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tile .actions .action i {
  padding: 8px 10px;
  font-size: 16px;
  color: #424242;
  cursor: pointer;
}
.tile .actions .action i:hover {
  color: #fff;
  background-color: #2196f3;
}
.tile .actions .action.remove i:hover {
  background-color: #ef5350;
}
.tile .info {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  width: 100%;
  background-color: hsla(0, 0%, 96.1%, 0.8);
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  transition: all 0.15s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  padding: 8px;
}
.tile .info .name {
  display: block;
  width: 100%;
  margin-bottom: 4px;
  font-size: 14px;
  line-height: 1.25;
  word-wrap: break-word;
  white-space: nowrap;
}
.tile .preview .noimage {
  display: inline-block;
  width: 150px;
  height: 150px;
  color: #ccc;
  background-color: #f8f8f8;
  line-height: 150px;
}
.tile .preview .thumbnail {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
  border: 0;
}
